body,article.biografia
{
	display: block;
	padding: 3px;
	margin: 5px;
	font-family: calibri;
    font-size: 100%;
}
body
{
	background-color:#000000;
}
#panel
{
	display:block;
	position:absolute;
	width: 1600px;
}
.columna
{
	width:270px;
	height:780px;
	float:left;
	border: 2px solid #FFFFFF;
	-webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
	cursor:move;
}
.columna.over {
  border: 2px solid #FF0000;
}